PROWF45.CH11.WCF.WORKFLOW.CLIENT.SERVICE/Service References/JobPostingService/JobApplicationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JobApplicationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51027/wfJobApplicationService.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51027/wfJobApplicationService.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51027/wfJobApplicationService.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Exercise1.Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobApplication_InterviewCandidate_InputMessage">
    <wsdl:part name="parameters" element="tns:InterviewCandidate" />
  </wsdl:message>
  <wsdl:message name="IJobApplication_ApplyForJob_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyForJob" />
  </wsdl:message>
  <wsdl:message name="IJobApplication_ApplyForJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyForJobResponse" />
  </wsdl:message>
  <wsdl:message name="IJobApplication_TerminateJobApplication_InputMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="guid" element="q1:guid" />
  </wsdl:message>
  <wsdl:message name="IJobApplication_GetJobApplicationStatus_InputMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" name="guid" element="q2:guid" />
  </wsdl:message>
  <wsdl:message name="IJobApplication_GetJobApplicationStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobApplicationStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IJobApplication">
    <wsdl:operation name="InterviewCandidate">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobApplication/InterviewCandidate" message="tns:IJobApplication_InterviewCandidate_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyForJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobApplication/ApplyForJob" message="tns:IJobApplication_ApplyForJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobApplication/ApplyForJobResponse" message="tns:IJobApplication_ApplyForJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TerminateJobApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobApplication/TerminateJobApplication" message="tns:IJobApplication_TerminateJobApplication_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobApplicationStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobApplication/GetJobApplicationStatus" message="tns:IJobApplication_GetJobApplicationStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobApplication/GetJobApplicationStatusResponse" message="tns:IJobApplication_GetJobApplicationStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJobApplication" type="tns:IJobApplication">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InterviewCandidate">
      <soap:operation soapAction="http://tempuri.org/IJobApplication/InterviewCandidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ApplyForJob">
      <soap:operation soapAction="http://tempuri.org/IJobApplication/ApplyForJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminateJobApplication">
      <soap:operation soapAction="http://tempuri.org/IJobApplication/TerminateJobApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetJobApplicationStatus">
      <soap:operation soapAction="http://tempuri.org/IJobApplication/GetJobApplicationStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobApplicationService">
    <wsdl:port name="BasicHttpBinding_IJobApplication" binding="tns:BasicHttpBinding_IJobApplication">
      <soap:address location="http://localhost:51027/wfJobApplicationService.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>