PROWF45.CH11.WCF.WORKFLOW.CLIENT.SERVICE/Service References/JobPostingService/wfJobApplicationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51027/wfJobApplicationService.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:51027/wfJobApplicationService.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Exercise1.Core" />
  <xs:element name="InterviewCandidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ApplicationId" type="q1:guid" />
        <xs:element minOccurs="0" name="PassedInterview" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyForJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Exercise1.Core" minOccurs="0" name="application" nillable="true" type="q2:JobApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyForJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobApplicationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Exercise1.Core" minOccurs="0" name="CurrentJobApplicationStatus" nillable="true" type="q4:JobApplicationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>