AppFabric/Solution/Claims.Web/Claims.Web/Service References/ProcessClaim.WF/ProcessClaimService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:90/ProcessClaimService.WF/ProcessClaimService.xamlx?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/BusinessEntities" />
  <xs:element name="ProcessClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessEntities" minOccurs="0" name="claim" nillable="true" type="q1:Claim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnStatus" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>