AppFabric/Solution/Contoso.Assets/WorkflowActivities/Service References/AppraisalService/AppraisalService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:90/AppraisalService.WCF/AppraisalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntities" />
  <xs:element name="FindAllClaims">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllClaimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessEntities" minOccurs="0" name="FindAllClaimsResult" nillable="true" type="q1:ArrayOfClaim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPendingClaims">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPendingClaimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessEntities" minOccurs="0" name="FindPendingClaimsResult" nillable="true" type="q2:ArrayOfClaim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastClaim">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessEntities" minOccurs="0" name="GetLastClaimResult" nillable="true" type="q3:Claim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessEntities" minOccurs="0" name="GetClaimResult" nillable="true" type="q4:Claim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessEntities" minOccurs="0" name="claim" nillable="true" type="q5:Claim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>